/*  src/Title.css  */
.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(0,40,86);
    color: #f1f1f1;
}

.Title-Subtitle {
    color: rgba(255, 255, 255, 0.75);
}

.Title a {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
}

.Title .nav-link-active {
    color: #f1f1f1;
    border-bottom: 2px solid;
}

/* Mobile */
@media only screen and (max-device-width: 475px) {
    .Title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 100%;
    }
}