.Footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: rgb(165,4,4);
    color: #f1f1f1;
}